{% extends "base.html" %}
  {% block content %}
  <div class="reg-box">
      <form method="post">
      <table>
        <tr>
          <td colspan="2"><h2>Signup</h2></td>
        </tr>
        <tr>
          <td class="right"><label for="username">Username
            {% if error_type == 1 %}
              <br /><span class="error small">Invalid Username*</span>
            {% endif %}
          </label></td>
          <td><input type="text" id="username" name="username"
            {% if username %}
            value="{{username}}"
            {% endif %}
             /></td>
        </tr>
        <tr>
          <td class="right"><label for="pw">Password
            {% if error_type == 2 %}
              <br /><span class="error small">Invalid Password*</span>
            {% endif %}
          </label></td>
          <td><input type="password" id="pw" name="pw" /></td>
        </tr>
        <tr>
          <td class="right"><label for="vpw">Verify Password
            {% if error_type == 3 %}
              <br /><span class="error small">Mismatch*</span>
            {% endif %}
          </label></td>
          <td><input type="password" id="vpw" name="verify_pw" /></td>
        </tr>
        <tr>
          <td class="right"><label for="email">Email (optional)
            {% if error_type == 4 %}
              <br /><span class="error small">name@company.com*</span>
            {% endif %}
          </label></td>
          <td><input type="text" id="email" name="email"
            {% if email %}
            value="{{email}}"
            {% endif %} /></td>
        </tr>
        <tr>
          <td colspan="2" class="button"><input type="submit" value="Submit" class="button" /></td>
        </tr>
      </table>
      </form>
      {% if error %}
      <p class="error">*error: {{error}}</p>
      {% endif %}
    </div>
  {% endblock %}
