<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
</head>
<body>
  <div class="reg-box">
      <form method="POST">
      <table>
        <tr>
          <td colspan="2"><h2>Signup</h2></td>
        </tr>
        <tr>
          <td>Username</td>
          <td><input type="text" name="username" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="pw" /></td>
        </tr>
        <tr>
          <td>Verify Password</td>
          <td><input type="password" name="verify_pw" /></td>
        </tr>
        <tr>
          <td>Email (optional)</td>
          <td><input type="email" name="email" /></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Submit" class="button" /></td>
        </tr>
      </table>
      </form>
    </div>
</body>
</html>
